@tailwind base;
@tailwind components;
@tailwind utilities;




.boardsquare {
    border: 1px solid #d1d5db;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.boardsquare.filled {
    
}
.boardsquare.cross.filled:after {
    content: 'X';
    color: red;
}
.boardsquare.circle.filled:after {
    content: 'O';
    color: blue;
}